@import 'short/index';
@import 'contacts/index';

.profile {
  display: flex;
  color: #2c2c2c;

  &__info { flex: 1; }
  &__part {
    margin-bottom: 18px;
    padding: 26px;
  }
  &__short { display: flex; }
  &__title {
    text-transform: capitalize;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
  }
}

.nav {
  position: relative;
  margin-bottom: 40px;

  &__list {
    display: flex;
    list-style: none;
    font-size: 15px;
  }
  &__item {
    margin: 0 15px;
    padding: 29px 0 25px;
    border-top: 3px solid transparent;

    &:hover { border-top: 3px solid #7fb1d8; }
  }
  &__link {
    &_active { color: #7fb1d8; }
    &_disabled {
      pointer-events: none;
      color: #9e9e9e;
    }
  }
}

.menu {
  list-style: none;
  color: #2c2c2c;
  width: 25%;
  margin-right: 28px;

  &__link {
    display: block;
    padding: 19px 0 20px 17px;
    border-left: 4px solid transparent;

    &:hover {
      background: #e7eef3;
      font-weight: 500;
    }
    &_active {
      background: #e7eef3;
      font-weight: 500;
      border-left: 4px solid #ffc816;
    }
  }
}

.info {
  &__title { font-size: 18px; }
  &__text {
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 300;
  }
}

.field {
  display: flex;
  margin-bottom: 20px;
  font-size: 15px;

  &__label {
    flex: .4;
    color: #a7a7a7;
    font-weight: 500;
  }
  &__info {
    flex: 1;
    margin-right: 15px;

    &_hidden{ display: none; }
  }
  &_empty {
    text-transform: uppercase;
    color: #a7a7a7;
    font-size: 12px;
  }
}

