.input {
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  box-sizing: border-box;
  height: 40px;
  padding: 0 15px;

  &:focus {
    outline: none;
    border: 1px solid #f8a002;

  }
  &__label {
    display: block;
    margin-top: 20px;

    a {
      text-decoration: none;
      color: #1f6397;

      &:hover { text-decoration-line: underline; }
    }
  }
  &__auth {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background: #f5f5f5;
    padding-left: 25px;
    font-size: 15px;
    font-weight: 400;
  }
  &__profile { padding-left: 10px; }
  &__modal {
    -moz-appearance: textfield;
    display: inline-block;
    width: 120px;
    height: 40px;
    margin-right: 10px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  &__form {
    display: flex;
    width: 50%;
    margin-bottom: 10px;
    font-weight: 400;
    color: #2c2c2c;
    background-color: #f9fbfc;
    outline: none;
    border-radius: 2px;
  }
  &__checkbox { margin-right: 15px; }
  &__file { display: none; }
  &__textarea {
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding-top: 5px;
    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
}