.btn {
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  outline: none;

  &_orange {
    background: #f8a002;
    font-size: 14px;
    margin-top: 20px;

    &:hover { background: #FFAD45; }
  }
  &__login {  width: 40%; }
  &__confirm {
    background: #43bf73;
    padding: 13px 20px 12px;
    border-radius: 20px;
  }
  &__logout {
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 20px;
    background: #fff;
    color: #7fb1d8;
    border: 1px solid #7fb1d8;
    border-radius: 20px;
    padding: 13px 19px 12px;
    font-size: 11px;
    outline: none;

    &:hover{ background: #f0f0f0; }
  }
  &_gray {
    text-transform: uppercase;
    color: #b3b3b3;
    font-size: 10px;
    background: none;
    margin-right: 20px;
  }
}