html { background: #f7f7f7; }

body {
  margin: 0;
  font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h4 {
  font-size: 18px;
  font-weight: 500;
}


.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.container_small {
  width: 300px;
  margin: 0 auto;
}

.box__shadow {
  background: #fff;
  box-shadow: 0 1px 9px 0 rgba(34, 31, 31, 0.19);
}

.link {
  text-decoration: none;
  color: #000;

  &_disabled {
    pointer-events: none;
    color: #9e9e9e;
  }
  &_custom {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #1f6397;
    border-bottom: 1px dashed #1f6397;
    font-size: 11px;
    font-weight: 500;

    &:hover {
      color: #ebb300;
      border-bottom-color: transparent;
    }
  }
}

.title { margin: 0; }