.user__area {
  position: relative;
  height: 100vh;
}

.modal {
  &_open { pointer-events: none; }
  &__block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
  }
  &__window {
    width: 60%;
    background: #fff;
    margin: 50px auto;
    font-size: 14px;
    border-radius: 5px;
  }
  &__header {
    padding: 15px 40px;
    border-bottom: 1px solid #f1f1f1;
  }
  &__body {
    text-align: center;
    padding: 50px 40px;
  }
}

.close {
  cursor: pointer;
  background: transparent;
  float: right;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
  border: none;

  &:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
  }
  &:focus { outline: none; }
}