.load {
  width: 56px;
  height: 56px;
  margin: 37px auto 0 auto;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: rotateZ(45deg);

  &__cube {
    position: relative;
    transform: rotateZ(45deg);
  }
  &__cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(248, 162, 2);
      animation: load__fold 4.56s infinite linear both;
      transform-origin: 100% 100%;
    }
  }
  &__cube {
    &_2 {
      transform: scale(1.1) rotateZ(90deg);

      &:before { animation-delay: 0.57s; }
    }
    &_3 {
      transform: scale(1.1) rotateZ(180deg);

      &:before { animation-delay: 1.14s; }
    }
    &_4 {
      transform: scale(1.1) rotateZ(270deg);

      &:before { animation-delay: 1.71s; }
    }
  }
}

@keyframes load__fold {
  0%, 10% {
    transform: perspective(105px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(105px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(105px) rotateY(180deg);
    opacity: 0;
  }
}