.auth {
  position: relative;
  text-align: center;

  &__window {
    text-align: center;
    margin-top: 50px;
    padding: 30px;
    font-size: 14px;
  }
  &__link {
    display: inline-block;
    width: 50%;
    color: #000;
    text-decoration: none;
    padding-bottom: 20px;
    border-bottom: 4px solid transparent;
    font-weight: 500;
    font-size: 16px;

    &_active {
      border-bottom: 4px solid #f8a002;
    }
  }
  &__form {
    z-index: 1;

    &_disabled {
      pointer-events: none;
      opacity: .3;
    }
  }
  &__title {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 30px;
  }
}