.modal {
  position: absolute;
  width: 100%;
  z-index: 10;

  &__form {
    padding: 30px 20px;
    background: #fff;
    box-shadow: 0 1px 9px 0 rgba(34, 31, 31, 0.19);
  }
  &__title {
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
  }
}

.data {
  &__wrap {
    &:hover {
      .field__info_hidden { display: inline; }
    }
  }
}